
# Activer le moteur de réécriture
RewriteEngine On
RewriteBase /

# Rediriger toutes les requêtes vers index.html sauf si le fichier ou dossier existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [QSA,L]

# Définir le type MIME correct pour les fichiers JavaScript
<IfModule mod_mime.c>
  AddType application/javascript .js
</IfModule>

# Définir le fichier d'index par défaut
DirectoryIndex index.html fallback.html
